@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,500&display=swap');


:root {
    --dark-bg: #27212E;
    --dark-btn: #3E334A;
    --pink: #EB64B9;
    --purple: #B381C5;
    --blue: #40B4C4;
}

html {
    background-color: var(--dark-bg);
    color: var(--pink);
    font-family: 'Source Code Pro', monospace;
}

/*body {
    animation: fadeInAnimation ease 1.5s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}*/

#title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    text-align: center;
}

#main-megumi {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    transition: filter 0.75s ease;
}

#main-megumi:hover {
    filter: brightness(120%);
}

h1 {
    font-weight: 500;
    font-style: italic;
    font-size: 64px;
    margin: 12px;
}

#selection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.button {
    background-color: var(--dark-btn);
    padding: 18px 24px;
    margin: 12px;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.75s ease, background-color 0.75s ease;
}

.button:hover {
    background-color: var(--pink);
    color: var(--dark-btn);
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: var(--pink);
    text-decoration: none;
}

a:link {
    color: var(--pink);
    text-decoration: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: var(--pink);
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
    }
}